.main-container{
    width: 100%;
    height: 100%;
    background-color: #464141;
}
.header{
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.center-container{
    width: 1366px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.four-in{
    display: flex;
    flex-direction: center;
    align-items: center;
    height: 100%;
    width: 700px;;
    box-sizing: border-box;
}
.address,.timming,.dialer{
    padding-left: 10px;
}

.address p,.timming p,.dialer p{
    font-size: 20px;
    color: gainsboro;

}
.address span,.timming span, .dialer span{
    color:#464141;
}
.dropdown{
    width: 90px;
    height: 20px;
    color: gainsboro;
    background-color: black;
    border: 0;
}
.map-img,.phone,.time{
    background-color: gainsboro;
}
.map-img img,.phone img,.time img{
    width: 20px;
    height: 20px;
}
.Appointment{
    height: 100%;
    width: 170px;
    background-color: #00FF7F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Appointment a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}


.second-header{
    width: 100%;
    height: 60px;
   display: flex;
   justify-content: center;
   background-color: white;
}
.center-container2{
    width: 1366px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
.second-div1{
    width: 110px;
    height: 40px;
    border: 2px solid #464141;
}
.second-div1 img{
    width: 100px;
    height: 30px;
    padding: 5px;

}
.second-div2{
    display: flex;
    justify-content: center;
}
.second-div2 div a{
    font-size: 25px;
    color: #464141;
    padding: 5px;
    margin-left: 10px;
    text-decoration: none;
}
.second-div3{
    display: flex;
    justify-content: space-between;

}
.second-div3 div img{
    height: 20px;
    width: 20px;
    padding-top: 10px;
    padding-left: 20px;
}


.body-background{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('images/creative-idea-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}
.dull{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
}
.content{
    height: 300px;
    width: 500px;
    position: relative;
    top: 50px;
    padding: 20px;
}
.paragraph p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgray;
    font-size: 20px;
}
.paragraph h1{
    color: darkgray;
    font-size: 50px;
    padding-left: 0px;
}
.content span a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.read-us{
    background-color: #00FF7F;
    height: 25px;
    width: 90px;
    display: flex;
    justify-content: row;
    padding: 10px;
    position: relative;
}
.contact-us{
    background-color: #464141;
    height: 25px;
    width: 150px;
    display: flex;
    justify-content: row;
    padding: 10px;
    position: relative;
}
.button{
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.next img{
    height: 20px;
    width: 20px;
    
}
.body-content{
    height: 342px;
    width: 100%;
    position: relative; 
    background-color: white;
    display: flex;
    justify-content: center;
}
.center-container4{
    height: 300px;
    width:  1366px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px;
}
.roadmap img,.web img,.result img,.blog img{
    width: 20px;
    height: 20px;
}
.center-container4 p{
    font-size: 20px;
    color: #464141;
}

